body {
    background-color:#eeeeee;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.input-group-addon.primary { 
    color: rgb(255, 255, 255); 
    background-color: rgb(50, 118, 177); 
    border-color: rgb(40, 94, 142); 
}
.page-header {
    text-align: center;
    height: 50px;
} 
.progbar {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
#form_row {
    height: 75px;
}
#intro_row {
    text-align: center;
    height: 75px;
}
#mapdiv{
    width: 100%;
    height: 500px;
}
#lang_flags {
  position: absolute;
  right: 20px;
  top: 20px;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  opacity: 0.5;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon-no {
  background-image: url(../svg/no.svg);
}
.flag-icon-gb {
  background-image: url(../svg/gb.svg);
}
/*
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
}
*/